.text-twit {
  max-width: 380px;
  align-self: center;
  padding-bottom: 15px;
  padding: 15px;
  -moz-box-align: stretch;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  align-items: stretch;
  border: 0px solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  position: relative;
  z-index: 0;
}